{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact.jpg' %}{% endblock %}

{% block headers %}
<h1 class="title">Contacto</h1>
<span class="subheading">Formulario para contactarme!!</span>
{% endblock %}

{% block content %}
<div class="container">
	<h3 class="section-heading">Deje aquí su mensaje!<h3>
	<div class="row">
	  <div class="col-lg-8 mx-auto">
		<form id="contactForm" name="sentMessage">
		  <div class="control-group">
			<div class="form-group floating-label-form-group controls">
			  <label for="name">Nombre</label>
			  <input type="text" class="form-control" id="name" placeholder="Nombre" required data-validation-required-message="Ingrese su nombre" />
			  <p class="help-block text-danger"></p>
			</div>
		  </div>
		  <div class="control-group">
			<div class="form-group floating-label-form-group controls">
			  <label for="email">Email</label>
			  <input type="email" class="form-control" id="email" placeholder="Email" required data-validation-required-message="Ingrese su email." />
			  <p class="help-block text-danger"></p>
			</div>
		  </div>
		  <div class="control-group">
			<div class="form-group floating-label-form-group controls">
			  <label for="phone">Telefono</label>
			  <input type="tel" class="form-control" id="phone" placeholder="Telefono" required data-validation-required-message="Ingrese su telefono" />
			  <p class="help-block text-danger"></p>
			</div>
		  </div>
		  <div class="control-group">
			<div class="form-group floating-label-form-group controls">
			  <label for="message">Deje su mensaje aquí</label>
			  <textarea class="form-control" id="message" placeholder="Message" required data-validation-required-message="Ingrese un mensaje"></textarea>
			  <p class="help-block text-danger"></p>
			</div>
		  </div>
		  <br />
		  <div id="success"></div>
		  <div class="form-group">
			<button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar!</button>
		  </div>
		</form>
	  </div>
	</div>
  </div>
  

{% endblock %}