{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home.jpg' %}{% endblock %}

{% block headers %}
<h1>Miguel Angel Moyano</h1>
<span class="subheading">Desarrollador Fullstack</span>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">   
	  <div class="col-lg-3 col-md-4 offset-lg-1">
		<img class="img-fluid avatar" src="../../static/core/img/avatar.png" alt="">
	  </div>
	  <div class="col-lg-7 col-md-8">
		<h2 class="section-heading">Miguel Angel Moyano</h2>   
		<p>Bienvenidos a mi sitio web!!</p>
	  </div>
	</div>  
  </div>

  <hr>
{% endblock %}